export APP_OAUTH_IDENTIFIER="..."
export APP_OAUTH_SECRET="..."

export FREEAGENT_AUTHORIZATION_CODE="..."

export FREEAGENT_REFRESH_TOKEN="..."
export FREEAGENT_ACCESS_TOKEN="..." # expires 2016-06-14 17:34:13.444882

export COMPANY_CARD_RECEIPTS_DIR="/home/paul/Dropbox/_camscanner/01_receipts_company_card/"
export PERSONAL_CARD_RECEIPTS_DIR="/home/paul/Dropbox/_camscanner/02_receipts_personal_card/"

export FREEAGENT_USER_URL="https://api.freeagent.com/v2/users/..."
export FREEAGENT_PROJECT_URL="https://greendragon.freeagent.com/projects/..."
export FREEAGENT_BANK_ACCOUNT_ID="..."
